In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.preprocessing import MultiLabelBinarizer
import unicodedata
import re

In [14]:
# Load the Rotten Tomatoes dataset (adjust the filename if needed)
rt_df = pd.read_csv('RottenTomatoes/rotten_tomatoes_movies.csv')

# Create an explicit copy to avoid SettingWithCopyWarning
df_ratings = rt_df[[
    "movie_title","tomatometer_rating", "audience_rating",
]].copy()

# Convert columns to numeric safely
df_ratings.loc[:, "tomatometer_rating"] = pd.to_numeric(df_ratings["tomatometer_rating"], errors="coerce")
df_ratings.loc[:, "audience_rating"] = pd.to_numeric(df_ratings["audience_rating"], errors="coerce")

median_tomatometer = df_ratings['tomatometer_rating'].median()
median_audience = df_ratings['audience_rating'].median()

df_ratings["tomatometer_rating"] = df_ratings["tomatometer_rating"].fillna(median_tomatometer)
df_ratings["audience_rating"] = df_ratings["audience_rating"].fillna(median_audience)

def normalize_text(text):
    if pd.isna(text):  # Handle missing values
        return ""
    text = str(text)
    text = unicodedata.normalize('NFKD', text).encode('ASCII', 'ignore').decode('utf-8')  # Remove accents
    text = re.sub(r'[^\w\s]', '', text)  # Remove special characters
    return text.strip()

df_ratings["movieTitle"] = df_ratings["movie_title"].apply(normalize_text)

# Drop the 'movie_title' column
df_ratings = df_ratings.drop(columns=["movie_title"])

# Move 'movieTitle' to the first column position
cols = list(df_ratings.columns)
cols.insert(0, cols.pop(cols.index("movieTitle")))
df_ratings = df_ratings[cols]

df_ratings.to_csv("cleaned/rottentomatoRatings.csv", index=False)
df_ratings.head()

,movieTitle,tomatometer_rating,audience_rating
0,Percy Jackson the Olympians The Lightning Thief,49.0,53.0
1,Please Give,87.0,64.0
2,10,67.0,53.0
3,12 Angry Men Twelve Angry Men,100.0,97.0
4,20000 Leagues Under The Sea,89.0,74.0

In [10]:
rt_df_cleaned.to_csv("cleaned/rottentomatoRatings.csv", index=False)